/* External CSS */
/* External CSS */
body{
  font-family:Italic;
  /*margin:0 auto;  New */
}
a{
  text-decoration:none;
}
#click_me{
  background-color:black;
  padding:5px;
  border-radius:5px;
}
#click_me:hover{
  color:black !important;
}
/* CSS Specificity 
   inline > id > class > element
*/
nav{
  padding:5px
}
nav a{
  color:black;
  margin:0 10px 0 10px;
}
/* Start */
#banner{
  background-color:black;
  color:white;
  padding:20px;
  text-align:center;
}
